<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global/styleGlobal.css" />
    <link rel="stylesheet" href="/css/global/style.css" />
    <link rel="stylesheet" href="/css/responsive/responsive.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/icon/icone.svg"
      type="image/x-icon"
    />
    <title>EducaVida - Contato</title>
  </head>
  <body>
    <header class="menu_bg">
      <div class="menu">
        <div class="menu_logo">
          <a href="/"><span>Educa</span>Vida</a>
        </div>
        <nav class="menu_nav">
          <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projeto">Projeto</a></li>
            <li><a href="/patrocinadores">Patrocinadores</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="contato">
      <div class="column_telefone">
        <img src="/assets/contact.png" alt="Imagem - Contato" />
      </div>
      <div class="column_telefone">
        <h1>Entre em contato conosco</h1>
        <form action="#" class="form">
          <legend class="legend">
            <h2>Preencha os campos abaixo</h2>
          </legend>
          <input type="text" name="" id="" placeholder="nome" required />
          <input type="email" name="" id="" placeholder="email" required />
          <textarea
            name=""
            id=""
            cols="30"
            rows="8"
            placeholder="Escreva aqui sua dúvida..."
            required
          ></textarea>
          <button>Enviar</button>
        </form>
      </div>
    </section>

    <section class="news">
      <div class="news_info">
        <h1>Newsletter</h1>
        <p>Assine e fique por dentro das nossas novidades</p>
      </div>
      <form class="news_form">
        <input type="text" placeholder="Seu Melhor e-mail" />
        <button type="submit">Assinar</button>
      </form>
    </section>

    <footer>
      <div class="container_footer">
        <div class="content_footer">
          <div class="items">
            <a href="/" class="logo"><span>Educa</span>Vida</a>
            <p>
              O site EducaVida é um projeto pessoal, sem fins lucrativos, sem
              objetivos com as palavras citadas, esse é apenas mais um projeto
              de cunho pessoal.
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="items">
            <h3>EducaVida</h3>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="/sobre">Sobre</a></li>
              <li><a href="/projeto">Projeto</a></li>
              <li><a href="/patrocinadores">Patrocinadores</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
          </div>

          <div class="items">
            <h3>Projeto</h3>
            <ul>
              <li>
                <a href="/home">Ensino+</a>
              </li>
              <li>
                <a href="/register">Cadastrar Escola</a>
              </li>
            </ul>
          </div>
          <div class="items">
            <h3>Contato</h3>
            <ul>
              <li>
                <a href="#">educavida@educa.com.br</a>
              </li>
              <li><a href="#">(11) 8574-9966</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="end">Copyright ©️ 2021 - Todos os direitos reservados</p>
        <p class="end">Lucas Anselmo Moraes Da Silva.</p>
      </div>
    </footer>
  </body>
</html>
