<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global/styleGlobal.css" />
    <link rel="stylesheet" href="/css/global/style.css" />
    <link rel="stylesheet" href="/css/responsive/responsive.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/icon/icone.svg"
      type="image/x-icon"
    />
    <title>EducaVida</title>
  </head>
  <body>
    <header class="menu_bg">
      <div class="menu">
        <div class="menu_logo">
          <a href="/"><span>Educa</span>Vida</a>
        </div>
        <nav class="menu_nav">
          <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projeto">Projeto</a></li>
            <li><a href="/patrocinadores">Patrocinadores</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="home">
      <div class="row1">
        <h1>Promova a educação nas escolas públicas</h1>
        <p>
          Utilize nosso projeto de ensino para motivar os alunos à estudarem
          mais <br />e conquistarem seus objetivos!!
        </p>
        <a href="/projeto" class="link_home">Conhecer Projeto</a>
      </div>
      <div class="row1">
        <img src="/assets/criancas_livro_felizes.png" alt="Criança Feliz" />
      </div>
    </section>

    <div class="ensino_fundamental-bg">
      <section class="ensino_fundamental">
        <h1>Educação Vida</h1>
        <h4>Ensino Fundamental II</h4>
        <p>
          Nosso projeto de ensino consiste em atuar nas escolas públicas, com
          foco incial no ensino Fundamental II, <br />onde trabalharemos todas
          as bases de cada ano, com o objetivo de preparar os alunos para o
          ensino médio <br />e também para as provas de escolas técnicas.
        </p>
      </section>
      <section class="qualidade">
        <div class="qualidade-item">
          <h2>6° Anos</h2>
          <p>
            O conteúdo abordado aproxima-se da multidisciplinaridade,
            relacionando-se entre si na tentativa de demonstrar uma lógica no
            processo de ensino e aprendizagem. Além disso, a proposta pedagógica
            das escolas passa a trabalhar com conteúdos mais aprofundados,
            fazendo com que os alunos sintam-se desafiados constantemente em
            temas relacionados aos estudos.
          </p>
        </div>

        <div class="qualidade-item">
          <h2>7° Anos</h2>
          <p>
            O 7º ano do ensino fundamental II proporciona aos alunos o domínio
            da escrita, leitura e do cálculo. Essa etapa educacional visa
            ampliar a capacidade dos educandos de compreenderem o meio ambiente,
            os sistemas culturais e políticos, a economia, a tecnologia e os
            valores sociais, entre outros, é desenvolver o raciocínio lógico e a
            visão inter e multidisciplinar dos alunos.
          </p>
        </div>

        <div class="qualidade-item">
          <h2>8° Anos</h2>
          <p>
            No 8º do Ensino Fundamental II, o aluno começa a assumir maiores
            responsabilidades. Nesta etapa, os estudantes além de aprofundarem o
            conteúdo que já conhecem, passam a ter contato com outros. As aulas
            tendem a ficar mais densas, com explicações mais aprofundadas dos
            temas. Estudos de produção textual, literatura, expressões
            numéricas, razões e proporções, equações e frações.
          </p>
        </div>

        <div class="qualidade-item">
          <h2>9° Anos</h2>
          <p>
            O 9º e último ano do Ensino Fundamental mais uma vez indica
            transição na vida do estudante. Com um passo para o Ensino Médio,
            começam a se questionar quanto ao futuro: qual caminho focar, qual
            curso superior fazer, qual profissão escolher.
          </p>
        </div>

        <div class="qualidade-item-vesti">
          <h2>Escolas Técnicas</h2>
          <p>
            Fazer um curso técnico é a escolha de muitas pessoas que estão à
            procura de uma qualificação e um emprego. Além disso, diferentemente
            de uma faculdade tradicional, os cursos técnicos contam com
            disciplinas focadas no que será útil a quem deseja inserir-se o
            quanto antes no mercado de trabalho.
          </p>
        </div>

        <div class="qualidade-item-vesti">
          <h2>Reforço</h2>
          <p>
            O reforço escolar é uma forma de auxiliar o aluno a compreender
            melhor a matéria passada na escola, e assim ajudar na fixação do
            conteúdo em sua mente, não decorando o que está sendo ensinado, mas
            sim, entendendo e buscando aplicar de alguma forma, em sua vida ou
            em atividades diárias.
          </p>
        </div>
      </section>
    </div>

    <div class="frase_motivacional-bg">
      <section class="frase_motivacional">
        <div class="frase">
          <img src="/assets/paulo_freire.png" alt="Frase Paulo Freire" />
        </div>
        <div class="frase">
          <h3>
            "Educação" não transforma o mundo. Educação muda as pessoas. Pessoas
            transformam o mundo"
          </h3>
          <p>Paulo Freire</p>
          <h2>Promova sempre a educação nas escolas</h2>
        </div>
      </section>
    </div>

    <div class="ensino_fundamental2-bg">
      <section class="ensino_fundamental2">
        <h1>Educação Vida</h1>
        <h4>Ensino Médio & Vestibulares</h4>
        <p>
          O ensino médio é visto por muitos como o mais dificil, porém com nosso
          projeto de ensino, <br />os alunos saem preparados para os
          vestibulares, e mais do que isso, também são auxilidos, <br />com
          aulas sobre plano de carreira pós ensino médio & faculdade.
        </p>
      </section>
      <section class="qualidade">
        <div class="qualidade-item">
          <h2>1° Ensino Medio</h2>
          <p>
            Essa fase tem como principal objetivo, além de aprofundar o
            aprendizado do Ensino Fundamental, formar os estudantes para o
            exercício da cidadania e prepara-los para os processos seletivos,
            como o Enem. Por envolver um universo de temas avançados nas
            matérias estudadas, além das preocupações com a carreira
            profissional.
          </p>
        </div>

        <div class="qualidade-item">
          <h2>2° Ensino Medio</h2>
          <p>
            É nesta etapa que o aluno intensifica suas atividades sociais e
            passa a conhecer mais sobre as possibilidades do mercado de trabalho
            e da vida em sociedade, seus direitos e deveres civis e mais. O
            conteúdo tem um foco maior nas disciplinas de Português e
            Matemática, podendo o aluno fazer escolhas sobre as demais áreas de
            ensino.
          </p>
        </div>

        <div class="qualidade-item">
          <h2>3° Ensino Medio</h2>
          <p>
            Nesta etapa, alguns alunos buscam ingressar em cursos preparatórios
            para vestibular e ENEM para focar os seus estudos em determinados
            exames ou como forma de ampliação dos horizontes e conhecimentos que
            obtiveram durante os anos do Ensino Médio, com revisões, programas
            focados nos processos seletivos, simulados e aulões.
          </p>
        </div>

        <div class="qualidade-item">
          <h2>Vestibulares</h2>
          <p>
            O vestibular é uma das formas mais tradicionais de ingressar em uma
            faculdade brasileira. Dependendo da instituição de ensino, o
            vestibular pode ocorrer em fase única ou se desdobrar em mais etapas
            de provas. Geralmente, são testados os conhecimentos dos candidatos
            sobre as matérias aprendidas durante os três anos do ensino médio.
          </p>
        </div>

        <div class="qualidade-item-vesti">
          <h2>Pós EM</h2>
          <p>
            Caso o aluno tenha interesse em não prestar um vestibular e/ou não
            consegui acesso à uma faculdade de imediato, pós fim do ensino
            médio, ele receberá um conselho de nossos especialistas, em focar em
            arranjar um emprego, ou a realizaçao de cursos técnicos, e ele
            ficará ainda no projeto, estudando para quando estiver pronto,
            prestar o vestibular.
          </p>
        </div>

        <div class="qualidade-item-vesti">
          <h2>Faculdade</h2>
          <p>
            com a grande competitividade do mercado de trabalho, os cursos
            superiores têm se tornado um diferencial para o currículo. Além de
            aumentar as chances de emprego, eles auxiliam a alavancar a carreira
            e trazem melhorias para o salário e ainda uma melhor qualificação no
            mercado de trabalho e oportunidade de ingressar em grandes empresas.
          </p>
        </div>
      </section>
    </div>

    <section class="lampada">
      <div class="column">
        <img src="/assets/lampadas_ideias.png" alt="Lampada" />
      </div>
      <div class="column">
        <h1>Surgimento de ideias</h1>
        <p>
          Se você deseja que os alunos pensem fora da curva, você precisa
          motivá-los com alguma forma de recompensa. Além disso, as sugestões
          devem ser levadas a sério para que os alunos estejam dispostos a criar
          formas mais criativas de melhorar o local de trabalho.
        </p>
        <p>
          Por isso aqui nesse projeto, sempre pensaremos juntos com os alunos,
          para que eles tenham conforto para estimularem ideias para seus
          futuros.
        </p>
      </div>
    </section>

    <div class="livro-bg">
      <section class="livro">
        <div class="column_livro">
          <h1>Promovemos a leitura</h1>
          <p>
            Um profissional que mantém o hábito da leitura consegue “devorar”
            artigos e documentos com maior facilidade — a exemplo do que
            acontece com advogados. Sem falar na moral que têm diante dos
            colegas quando começam a discursar, pois suas técnicas de oratória
            foram aprimoradas durante os anos grudados nos livros.
          </p>
        </div>
        <div class="column_livro">
          <img src="/assets/livro.png" alt="Livro" />
        </div>
      </section>
    </div>

    <section class="formacao">
      <div class="formacao_livro">
        <img src="/assets/formação.png" alt="Formação" />
      </div>
      <div class="formacao_livro">
        <h1>Formação</h1>
        <p>
          A nossa formatura é todos os dias, pois todo dia, conhecimentos novos
          são ensinados para os alunos, assim caad dia é uma vitoria para eles,
          logo essas vitorias o motivam para buscar sempre mais e mais, e assim
          formamos os melhores profissionais para o mundo.
        </p>
      </div>
    </section>

    <div class="focous-bg">
      <section class="focous">
        <h4>Sobre nosso foco</h4>
        <h1>Qual o nosso foco em preparar nossos alunos?</h1>
        <p>
          Dentre várias habilidades que nós abordamos aqui no nosso projeto,
          buscamos a especialização entre 6 pontos principais para melhorar os
          alunos para o seu futuro, são eles:
        </p>
      </section>
      <section class="focous_themes">
        <div class="focous_items">
          <h2>Leitura</h2>
          <p>
            Para entender bem o que o texto ou o livro está dizendo, ter
            concentração é fundamental. A leitura dinâmica é uma boa aliada,
            principalmente quando você precisa finalizar dezenas de páginas em
            um curto período. Porém, nada substitui a calma e o foco nessa
            prática, pois esse estado torna a experiência ainda melhor. Pode
            reparar!
          </p>
        </div>

        <div class="focous_items">
          <h2>Raciocínio lógico</h2>
          <p>
            O raciocínio é uma atividade mental global que envolve muitos
            processos cognitivos, entre eles a memória, a atenção e a
            compreensão. O raciocínio é importante, entre outras razões, para ir
            bem nos estudos, analisar dados de um relatório, discutir
            estratégias em gerenciamento de projetos e negócios.
          </p>
        </div>

        <div class="focous_items">
          <h2>Prática</h2>
          <p>
            Atividade física melhora dores e diminui a incapacidade funcional. A
            prática de atividades físicas melhora a qualidade do sono. As
            atividades físicas melhoram o desempenho cognitivo. A prática de
            atividades físicas reduz o estresse e aumenta a sensação de
            bem-estar.
          </p>
        </div>

        <div class="focous_items">
          <h2>Mentoria</h2>
          <p>
            A mentoria pode dar um contributo essencial ao desenvolvimento
            pessoal e social de alunos e professores. Projetos que dão um
            contributo positivo aos alunos e aos pais de diferentes origens
            culturais e/ou meios desfavorecidos, assim como projetos que apoiam
            os professores e as suas necessidades de desenvolvimento.
          </p>
        </div>

        <div class="focous_items">
          <h2>Mentores</h2>
          <p>
            Ao contratar um mentor, é possível tomar decisões mais assertivas,
            ter um panorama real do seu negócio, gerenciar melhor a equipe,
            solucionar problemas com mais eficiência, pensar corretamente nos
            modos de expansão do negócio, analisar parceiras, entre tantos
            outros benefícios.
          </p>
        </div>

        <div class="focous_items">
          <h2>Carreira</h2>
          <p>
            Plano de carreira é um programa estruturado que estipula o caminho
            que cada aluno vai percorrer dentro de uma organização em uma
            faculdade, escola ou até mesmo na sua vida. Ele determina as
            competências necessárias para cada posição hierárquica e também qual
            é a sua expectativa em relação aos seus objetivos.
          </p>
        </div>
      </section>
    </div>

    <section class="home_office">
      <div class="home_office_column">
        <img src="/assets/home.png" alt="Home Office" />
      </div>
      <div class="home_office_column">
        <h1>E nessa pandemia, como estamos atuando?</h1>
        <p>
          No triste momento em que estamos vivendo, estamos migrando nosso time
          para o formato remoto (Home Office), logo temos um pouco de
          dificuldades de ajudar os alunos, porém estamos fazendo tudo o que nos
          podemos.
        </p>
        <p>
          Nossa parceira de informática, a Positivo, se ofereceu para distribuir
          computadores para nossos alunos que necessitam, e a Ceunsp está de
          portas abertas, para os alunos se deslocarem até a instituição mais
          perto, para assistir as aulas do projeto.
        </p>
      </div>
    </section>

    <section class="register">
      <h1>Ufa!!! Já falei tudo sobre nosso programa</h1>
      <p>
        Se você leu tudo até aqui, significa que você tem interesse em nosso,
        <br />então não perca tempo e inscreva, sua escola
      </p>
      <a href="/home" class="a_register">Inscrever Escola</a>
    </section>

    <section class="news">
      <div class="news_info">
        <h1>Newsletter</h1>
        <p>Assine e fique por dentro das nossas novidades</p>
      </div>
      <form class="news_form">
        <input type="text" placeholder="Seu Melhor e-mail" />
        <button type="submit">Assinar</button>
      </form>
    </section>

    <footer>
      <div class="container_footer">
        <div class="content_footer">
          <div class="items">
            <a href="/" class="logo"><span>Educa</span>Vida</a>
            <p>
              O site EducaVida é um projeto pessoal, sem fins lucrativos, sem
              objetivos com as palavras citadas, esse é apenas mais um projeto
              de cunho pessoal.
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="items">
            <h3>EducaVida</h3>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="/sobre">Sobre</a></li>
              <li><a href="/projeto">Projeto</a></li>
              <li><a href="/patrocinadores">Patrocinadores</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
          </div>

          <div class="items">
            <h3>Projeto</h3>
            <ul>
              <li>
                <a href="/home">Ensino+</a>
              </li>
              <li>
                <a href="/register">Cadastrar Escola</a>
              </li>
            </ul>
          </div>
          <div class="items">
            <h3>Contato</h3>
            <ul>
              <li>
                <a href="#">educavida@educa.com.br</a>
              </li>
              <li><a href="#">(11) 8574-9966</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="end">Copyright ©️ 2021 - Todos os direitos reservados</p>
        <p class="end">Lucas Anselmo Moraes Da Silva.</p>
      </div>
    </footer>
  </body>
</html>
