<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global/styleGlobal.css" />
    <link rel="stylesheet" href="/css/global/style.css" />
    <link rel="stylesheet" href="/css/responsive/responsive.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/icon/icone.svg"
      type="image/x-icon"
    />
    <title>EducaVida - Patrocinadores</title>
  </head>
  <body>
    <header class="menu_bg">
      <div class="menu">
        <div class="menu_logo">
          <a href="/"><span>Educa</span>Vida</a>
        </div>
        <nav class="menu_nav">
          <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projeto">Projeto</a></li>
            <li><a href="/patrocinadores" class="active">Patrocinadores</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="locais">
      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/mec.png" alt="Mec" />
        </div>
        <div class="locais_info">
          <h2>MEC</h2>
          <p>
            Somos reconhecidos pelo Ministério da Educação, como um programa de
            auxÍlio para as escolas públicas, com vários certificados
            registrados no portal do MEC
          </p>
          <a href="http://portal.mec.gov.br/">MEC</a>
        </div>
      </div>

      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/etec.png" alt="ETEC" />
        </div>
        <div class="locais_info">
          <h2>ETEC</h2>
          <p>
            Temos uma parceira com a Escola Técnica Estadual, onde levamos
            nossos alunos para conhecer o dia-a-dia dos alunos dessa escola, e
            mostrar sobre os cursos técnicos de cada instituição, para motivar
            nossos alunos a entrarem num colégio técnico.
          </p>
          <a href="https://www.vestibulinhoetec.com.br/home/">ETEC</a>
        </div>
      </div>

      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/ifsp.jpg" alt="IFSP" />
        </div>
        <div class="locais_info">
          <h2>IFSP</h2>
          <p>
            Assim como a ETEC, também temos uma parceria com o Instituto Federal
            de Educação, Ciência e Tecnologia de São Paulo, onde levamos nossos
            alunos para conhecer o dia-a-dia dos alunos dessa escola, e mostrar
            sobre os cursos técnicos de cada instituição, para motivar nossos
            alunos a entrarem num colégio técnico.
          </p>
          <a href="https://www.ifsp.edu.br/">IFSP</a>
        </div>
      </div>

      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/lego.png" alt="Lego" />
        </div>
        <div class="locais_info">
          <h2>Lego</h2>
          <p>
            Uma parceria com a empresa Lego, para implementação das aula de
            robótica, nas escolas, para treinamento de montagem e lógica em
            nossos alunos
          </p>
          <a href="https://www.legombrinq.com.br/">Lego</a>
        </div>
      </div>

      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/positivo.png" alt="Positivo" />
        </div>
        <div class="locais_info">
          <h2>Positivo</h2>
          <p>
            Técnologia é uma coisa fundamental hoje em dia, e para ter acesso a
            ree, nada melhor que os computadores positivo, temos uma parceria
            para obtermos os melhores computadores, para instalarmos nas
            escolas, para auxiliar os alunos nas aulas.
          </p>
          <a href="https://www.meupositivo.com.br/">Positivo</a>
        </div>
      </div>

      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/faber.png" alt="Faber Castell" />
        </div>
        <div class="locais_info">
          <h2>Faber Castell</h2>
          <p>
            Uma parceira para linha de Materias de otima qualidade? Temos!!, a
            Faber Castell é nossa aliada em garantir otimos materiais para
            nossos alunos, para ajuda-lôs nos estudos.
          </p>
          <a href="https://www.faber-castell.com.br/">Faber Castell</a>
        </div>
      </div>

      <div class="locais_item container">
        <div class="locais_img">
          <img src="/assets/patrocinadores/ceunsp.png" alt="Ceunsp" />
        </div>
        <div class="locais_info">
          <h2>Ceunsp</h2>
          <p>
            A Ceunsp é responsavel pelos modelos de faculdades em nosso projeto,
            uma parceria para mostrar o dia-a-dia de um aluno de faculdade, e
            realizar a sensação de interesse de nossos alunos à entrarem nas
            faculdades.
          </p>
          <a href="https://www.ceunsp.edu.br/">Ceunsp</a>
        </div>
      </div>
    </section>

    <section class="news">
      <div class="news_info">
        <h1>Newsletter</h1>
        <p>Assine e fique por dentro das nossas novidades</p>
      </div>
      <form class="news_form">
        <input type="text" placeholder="Seu Melhor e-mail" />
        <button type="submit">Assinar</button>
      </form>
    </section>

    <footer>
      <div class="container_footer">
        <div class="content_footer">
          <div class="items">
            <a href="/" class="logo"><span>Educa</span>Vida</a>
            <p>
              O site EducaVida é um projeto pessoal, sem fins lucrativos, sem
              objetivos com as palavras citadas, esse é apenas mais um projeto
              de cunho pessoal.
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="items">
            <h3>EducaVida</h3>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="/sobre">Sobre</a></li>
              <li><a href="/projeto">Projeto</a></li>
              <li><a href="/patrocinadores">Patrocinadores</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
          </div>

          <div class="items">
            <h3>Projeto</h3>
            <ul>
              <li>
                <a href="/home">Ensino+</a>
              </li>
              <li>
                <a href="/register">Cadastrar Escola</a>
              </li>
            </ul>
          </div>
          <div class="items">
            <h3>Contato</h3>
            <ul>
              <li>
                <a href="#">educavida@educa.com.br</a>
              </li>
              <li><a href="#">(11) 8574-9966</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="end">Copyright ©️ 2021 - Todos os direitos reservados</p>
        <p class="end">Lucas Anselmo Moraes Da Silva.</p>
      </div>
    </footer>
  </body>
</html>
