<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global/styleGlobal.css" />
    <link rel="stylesheet" href="/css/global/style.css" />
    <link rel="stylesheet" href="/css/responsive/responsive.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/icon/icone.svg"
      type="image/x-icon"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>EducaVida - Programa</title>
  </head>
  <body>
    <header class="menu_bg">
      <div class="menu">
        <div class="menu_logo">
          <a href="/"><span>Educa</span>Vida</a>
        </div>
        <nav class="menu_nav">
          <ul>
            <li><a href="/sobre">Sobre</a></li>
            <li><a href="/projeto" class="active">Projeto</a></li>
            <li><a href="/patrocinadores">Patrocinadores</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <section class="programa">
      <div class="programa_linha">
        <img src="/assets/material_1.png" alt="Imagem Material escolar" />
      </div>
      <div class="programa_linha">
        <h1>Ensino+</h1>
        <p>
          O Ensino+ (Ensino plus) é o nome do tão citado projeto de ajuda para
          os alunos, desenvolvido por grandes profissionais da educação
          brasileira.
        </p>
        <p>
          Com uma base educacional enorme, com foco em alunos de 6° Ano até 3°
          Ano do Médio.
        </p>
        <p>
          Nessa base, além de muitos estudos, os alunos também são submetidos a
          testes práticos para avaliação de ensino, e testes de desenvolvimento
          de carreira.
        </p>
      </div>
    </section>

    <div class="testimonial">
      <div class="small-container-testi">
        <div class="row">
          <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <img src="/assets/user-1.png" />
            <h3>Ana Paula Souza</h3>
            <p>
              Graças a esse projeto, consegui uma bolsa na melhor faculdade da
              minha cidade, o foco e dedicação desse projeto em cima de nós
              alunos é incrivel!!
            </p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <img src="/assets/user-2.png" />
            <h3>Guilherme Hemrique</h3>
            <p>
              Assim que eu terminei o ensino médio, eu já tinha todo um
              desenvolvimento de minha carreira profissional, de fato, eles te
              preparam para a realidade!!
            </p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
          <div class="col-3">
            <i class="fa fa-quote-left"></i>
            <img src="/assets/user-3.png" />
            <h3>Alice Salvador</h3>
            <p>
              Consegui entrar na escola técnica que eu tanto desejava, graça há
              esse incrivel projeto que minha escola aceitou participar, sem
              sobra de duvidas!!
            </p>
            <div class="rating">
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
              <i class="fa fa-star"></i>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section class="metodos">
      <div class="metodos_linha">
        <h1>Cadastramento de escola</h1>
        <p>
          Para cadastrar sua escola nesse programa, é muito facil, basta clicar
          no botão abaixo, e realizar o cadastro da sua instituição.
        </p>
      </div>
      <div class="metodos_linha">
        <img src="/assets/material.png" alt="Imagem Material escolar" />
      </div>
    </section>

    <section class="link">
      <a href="/home">Cadastrar sua escola</a>
    </section>
    <section class="news">
      <div class="news_info">
        <h1>Newsletter</h1>
        <p>Assine e fique por dentro das nossas novidades</p>
      </div>
      <form class="news_form">
        <input type="text" placeholder="Seu Melhor e-mail" />
        <button type="submit">Assinar</button>
      </form>
    </section>

    <footer>
      <div class="container_footer">
        <div class="content_footer">
          <div class="items">
            <a href="/" class="logo"><span>Educa</span>Vida</a>
            <p>
              O site EducaVida é um projeto pessoal, sem fins lucrativos, sem
              objetivos com as palavras citadas, esse é apenas mais um projeto
              de cunho pessoal.
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="items">
            <h3>EducaVida</h3>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="/sobre">Sobre</a></li>
              <li><a href="/projeto">Projeto</a></li>
              <li><a href="/patrocinadores">Patrocinadores</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
          </div>

          <div class="items">
            <h3>Projeto</h3>
            <ul>
              <li>
                <a href="/home">Ensino+</a>
              </li>
              <li>
                <a href="/register">Cadastrar Escola</a>
              </li>
            </ul>
          </div>
          <div class="items">
            <h3>Contato</h3>
            <ul>
              <li>
                <a href="#">educavida@educa.com.br</a>
              </li>
              <li><a href="#">(11) 8574-9966</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="end">Copyright ©️ 2021 - Todos os direitos reservados</p>
        <p class="end">Lucas Anselmo Moraes Da Silva.</p>
      </div>
    </footer>
  </body>
</html>
