<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Nunito:ital,wght@0,400;0,600;0,700;1,300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/css/global/styleGlobal.css" />
    <link rel="stylesheet" href="/css/global/style.css" />
    <link rel="stylesheet" href="/css/responsive/responsive.css" />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="shortcut icon"
      href="/assets/icon/icone.svg"
      type="image/x-icon"
    />
    <title>EducaVida - Sobre Nós</title>
  </head>
  <body>
    <header class="menu_bg">
      <div class="menu">
        <div class="menu_logo">
          <a href="/"><span>Educa</span>Vida</a>
        </div>
        <nav class="menu_nav">
          <ul>
            <li><a href="/sobre" class="active">Sobre</a></li>
            <li><a href="/projeto">Projeto</a></li>
            <li><a href="/patrocinadores">Patrocinadores</a></li>
            <li><a href="/contato">Contato</a></li>
          </ul>
        </nav>
      </div>
    </header>

    <h1 class="intro">Sobre Nós e Nossos valores</h1>

    <section class="sobre">
      <div class="sobre_info">
        <h1>Sobre a EducaVida</h1>
        <p>
          A EducaVida nasceu na missão de acabar com a desiguldade de ensino que
          acontece em muitos lugares do Brasil. Nossa ideia é alinhar os
          conhecimentos de um aluno de escola pública com um aluno de escola
          particular, para que ambos tenham conhecimentos e oportunidades
          iguais.
        </p>
        <p>
          Além da questão de ensino, também nos preocupamos com o pós escola de
          nossos alunos, logo instauramos um programa de auxilio, onde guiaremos
          os alunos, para o caminho certo, dentro da escola, na faculdade e
          pós-faculdade. Um plano de carreira desenvolvido por grandes
          especialistas.
        </p>
      </div>
      <div class="sobre_img">
        <img src="/assets/menino.png" alt="Menino" />
      </div>
    </section>

    <section class="valores">
      <div class="valores_img">
        <img src="/assets/math.png" alt="Home" />
      </div>
      <div class="valores_info">
        <h1>Valores da EducaVida</h1>
        <p>
          Nosso valor é a igualdade, direitos iguais para todos, lutaremos para
          que as crianças tenham educações iguais, e futuros bons, longe de
          problema de terceiros. Foco em alavancar nossos alunos para o sucesso,
          para que eles tenham uma ótima carreira profissional.
        </p>
      </div>
    </section>

    <section class="news">
      <div class="news_info">
        <h1>Newsletter</h1>
        <p>Assine e fique por dentro das nossas novidades</p>
      </div>
      <form class="news_form">
        <input type="text" placeholder="Seu Melhor e-mail" />
        <button type="submit">Assinar</button>
      </form>
    </section>

    <footer>
      <div class="container_footer">
        <div class="content_footer">
          <div class="items">
            <a href="/" class="logo"><span>Educa</span>Vida</a>
            <p>
              O site EducaVida é um projeto pessoal, sem fins lucrativos, sem
              objetivos com as palavras citadas, esse é apenas mais um projeto
              de cunho pessoal.
            </p>
            <div class="social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-linkedin"></i></a>
            </div>
          </div>
          <div class="items">
            <h3>EducaVida</h3>
            <ul>
              <li><a href="/">Início</a></li>
              <li><a href="/sobre">Sobre</a></li>
              <li><a href="/projeto">Projeto</a></li>
              <li><a href="/patrocinadores">Patrocinadores</a></li>
              <li><a href="/contato">Contato</a></li>
            </ul>
          </div>

          <div class="items">
            <h3>Projeto</h3>
            <ul>
              <li>
                <a href="/home">Ensino+</a>
              </li>
              <li>
                <a href="/register">Cadastrar Escola</a>
              </li>
            </ul>
          </div>
          <div class="items">
            <h3>Contato</h3>
            <ul>
              <li>
                <a href="#">educavida@educa.com.br</a>
              </li>
              <li><a href="#">(11) 8574-9966</a></li>
            </ul>
          </div>
        </div>
        <hr />
        <p class="end">Copyright ©️ 2021 - Todos os direitos reservados</p>
        <p class="end">Lucas Anselmo Moraes Da Silva.</p>
      </div>
    </footer>
  </body>
</html>
